<!DOCTYPE html>
<html lang="en">    
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
       <link rel="stylesheet" href="/main.css">

        <link 
    href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.6/dist/css/bootstrap.min.css" 
    rel="stylesheet" 
    integrity="sha384-4Q6Gf2aSP4eDXB8Miphtr37CMZZQ5oXLH2yaXMJ2w8e2ZtHTl7GptT4jmndRuHDT" 
    crossorigin="anonymous"
    />
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css" />
        <title>Portfolio</title>
    </head>
    <body>
        <div class="frame">
            <div class="main_frame">
                <div class="left_frame">
                    <div class="left_1">
                        <div class="left_1-1">
                            <img src="/author/images/Profile.png" 
                            width="156px" 
                            height="135px"
                             alt="profile-pic">

                        </div>
                        <div class="left_1-2">
                            <%=user.name%>
                        </div>
                        <div class="left_1-3"><%=user.profession%></div>
                        <div class="left-icons">
                            <a class= "link_href" href="">
                                <div class="icon">
                                    <img src="/author/icon/Facebook.jpeg" class="icon-1">
                                </div>
                            </a>
                            <a class= "link_href" href="">
                                <div class="icon">
                                    <img src="/author/icon/Instagram.jpeg" class="icon-1">
                                </div>
                            </a>
                            <a class= "link_href" href="">
                                <div class="icon">
                                    <img src="/author/icon/Twitter.jpeg" class="icon-1">
                                </div>
                            </a>
                            <a class= "link_href" href="">
                                <div class="icon">
                                    <img src="/author/icon/Linkeding.jpeg" class="icon-1">
                                </div>
                            </a>
                            <a class= "link_href" href="">
                                <div class="icon">
                                    <img src="/author/icon/Youtube.jpeg" class="icon-1">
                                </div>
                            </a>
                            <a class= "link_href" href="">
                                <div class="icon">
                                    <img src="/author/icon/Dribbble.jpeg" class="icon-1">
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="marginer"></div>                    
                    <div class="left_2">
                        <div class="left_2-1">
                            <div class="left_2-1-1">
                                Age
                            </div>
                            <div class="left_2-1-2">
                                <%=user.age%>
                            </div>
                        </div>
                        <div class="left_2-2">
                            <div class="left_2-2-1">
                                Residence
                            </div>
                            <div class="left_2-2-2">
                                <%=user.residence%>
                            </div>
                        </div>
                        <div class="left_2-3">
                            <div class="left_2-3-1">
                                Freelance
                            </div>
                            <div class="left_2-3-2">
                                Available
                            </div>
                        </div>
                        <div class="left_2-4">
                            <div class="left_2-4-1">
                                Address
                            </div>
                            <div class="left_2-4-2">
                                <%=user.adress%>
                            </div>
                        </div>
                    </div>
                    <div class="marginer"></div>
                     <div class="left_3">
                         <div class="left_3-1">
                            <div class="left_3-1-1">
                                Languages
                            </div>
                            <div class="left_3-1-2"></div>
                        </div>
                        <div class="left_3-2">
                            <div class="left_3-2-1">
                                Uzbek
                            </div>
                            <div class="left_3-2-2">
                                100%
                            </div>
                            
                        </div>
                         <div class="left_3-2-3"></div>
                        <div class="left_3-3">
                            <div class="left_3-3-1">
                                Korean
                            </div>
                            <div class="left_3-3-2">
                                90%
                            </div>
                            
                        </div>
                        <div class="left_3-3-3"></div>
                        <div class="left_3-4">
                            <div class="left_3-4-1">
                                English
                            </div>
                            <div class="left_3-4-2">
                                90%
                            </div>
                            
                        </div>
                        <div class="left_3-4-3"></div>
                     </div>
                    <div class="marginer"></div>                    
                    <div class="left_4">
                        <div class="left_4-1">Skills</div>
                        <div class="left_4-2 left_4-20">
                            <div class="left_4-2-1">
                               HTML
                            </div>
                            <div class="left_4-2-2">100%</div>
                        </div>
                        <div class="left_4-3 left_4-30"></div>
                        <div class="left_4-4 left_4-20">
                            <div class="left_4-4-1">
                                CSS
                            </div>
                            <div class="left_4-4-2">100%</div>
                        </div>
                        <div class="left_4-5 left_4-30"></div>
                        <div class="left_4-6 left_4-20">
                            <div class="left_4-6-1">
                                JavaScript
                            </div>
                            <div class="left_4-6-2">90%</div>
                        </div>
                        <div class="left_4-7"></div>
                        <div class="left_4-8 left_4-20">
                            <div class="left_4-8-1">
                                React
                            </div>
                            <div class="left_4-8-2">70%</div>
                        </div>
                        <div class="left_4-9"></div>
                        <div class="left_4-10 left_4-20">
                            <div class="left_4-10-1">
                                Node.js
                            </div>
                            <div class="left_4-10-2">80%</div>
                        </div>
                        <div class="left_4-11"></div>
                    </div>
                    <div class="marginer"></div>                                    
                    <div class="left_5">
                        <div class="left_5-0 ">Extra_skills</div>
                        <div class="left_5-1 left_5-10">
                            
                             <a class="icons" href="">
                                <div >
                                    <img src="/author/extra_icons/Icons.png" >
                                </div>
                            </a>
                            <div class="left_5-1-1 left_5-20">
                                Bootsrtap,Materialize
                            </div>
                            
                        </div>
                        <div class="left_5-2 left_5-10" >
                             <a class="icons" href="">
                                <div >
                                    <img src="/author/extra_icons/Icons.png" >
                                </div>
                            </a>
                            <div class="left_5-2-1 left_5-20">
                                Stylus,Sass,Less
                            </div>
                           
                        </div>
                        <div class="left_5-3 left_5-10">
                             <a class="icons" href="">
                                <div >
                                    <img src="/author/extra_icons/Icons.png" >
                                </div>
                            </a>
                            <div class="left_5-3-1 left_5-20">
                                Gulp,Webpack,Grunt
                            </div>
                           
                        </div>
                        <div class="left_5-4 left_5-10">
                             <a class="icons" href="">
                                <div >
                                    <img src="/author/extra_icons/Icons.png" >
                                </div>
                            </a>
                            <div class="left_5-4-1 left_5-20">
                               GIT Knowledge
                            </div>
                           
                        </div>
                    </div>
                    <div class="marginer"></div>
                </div>
                <div class="midd_frame">
                    <div class="midd_up">
                        <div class="midd_up-1">
                            <div class="midd_up_1-1">Doctor neurologists
                                    in OHSU Hospital </div>
                            <div class="midd_up_1-2">Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
                                Et, volutpat feugiat placerat lobortis. Natoque rutrum semper sed suspendisse nunc lectus.</div>
                            <div class="midd_up_1-3">Hire Me</div>
                            

                        </div>
                        <div class="midd_up-2"> 
                            <img src="/author/images/profile2.png" width="326.06px"
                            height="446.63px" alt = "profile-pic">                         
                        </div>
                    </div>
                    <div class="midd_down">
                        <div class="midd_down-1">
                            <div class="midd_down-1-1">My services</div>
                            <div class="midd_down-1-2">Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet s
                                int. Velit officia consequat duis enim velit mollit. lorem ipsum</div>
                        </div>
                        <div class="midd_down-2 grid-container">                           
                            <div class="midd_down-2-0 midd_down-2-1">
                                <div class="midd_down_2-1-1">
                                    <img src="/author/extra_icons/coding.png" alt="icon" class="midd_down_icon-0">
                                </div>
                                <div class="part-2">Web Development</div>
                                <div class="part-3">Blog, E-commerce</div>
                            </div>
                            <div class="midd_down-2-0 midd_down-2-2">
                                 <div class="midd_down_2-2-1">
                                      <img src="/author/extra_icons/illustration.png" alt="icon" class="midd_down_icon-1">
                                 </div>
                                <div class="part-2">UI/UX Design</div>
                                <div class="part-3">Mobile App, Website Design</div>
                            </div>
                            <div class="midd_down-2-0 midd_down-2-3">
                                 <div class="midd_down_2-3-1">
                                      <img src="/author/extra_icons/microphone.png" alt="icon" class="midd_down_icon-2">
                                 </div>
                                <div class="part-2">Sound Design</div>
                                <div class="part-3">Voice Over, Beat Making</div>
                            </div>                          
                            <div class="midd_down-2-0 midd_down-2-4">
                                 <div class="midd_down_2-4-1">
                                      <img src="/author/extra_icons/Icons_game-development.png" alt="icon" class="midd_down_icon-3">
                                 </div>
                                <div class="part-2">Game Design</div>
                                <div class="part-3">Character Design, Props & Objects</div>
                            </div>
                            <div class="midd_down-2-0 midd_down-2-5">
                                 <div class="midd_down_2-5-1">
                                     <img src="/author/extra_icons/Icons_Photographer.png" alt="icon" class="midd_down_icon-4">
                                 </div>
                                <div class="part-2">Photography</div>
                                <div class="part-3">Portrait, Product Photography</div>
                            </div>
                            <div class="midd_down-2-0 midd_down-2-6">
                                 <div class="part-2">Advertising</div>
                                <div class="part-3">Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
                                    Vitae nulla diam in ac dictum a urna viverra morbi. </div>
                                <div class="order">order now ></div>
                            </div>                                                   
                    </div>
                </div>
                <div class="right_frame"></div>
            </div>
        </div>
    </body>
</html>